


cgminer
cgminer.exe
minerd
minerd.exe
*.o
*.bin

01-cgminer.rules
API-README
API.class
ASIC-README
AUTHORS
COPYING
ChangeLog
FPGA-README
LICENSE
MCast.class
Makefile.am
Makefile.in
NEWS
README
aclocal.m4
api-example.php
api-example.py
api-example.rb
arg-nonnull.h
autogen.sh
autom4te.cache/
bitstreams/
c++defs.h
ccan/
compat.h
compat/
compile
config.guess
config.h.in
config.sub
configure.ac
depcomp
lib/
linux-usb-cgminer
m4/
missing
mknsis.sh
rebuild.sh
runclean.sh
runinstall.sh
runmake.sh
windows-build.txt

.deps/
Makefile
config.h
config.log
config.status
stamp-h1
